body {
  margin: auto;
}

.menu-color {
	padding-right: 10px; 
	padding-left: 10px; 
	color: #1b1b1b;
}

/* Mobile Memu barr */
.topnav {
  overflow: hidden;
  background-color: #fffefd;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1,0.2);
}

.topnav .icon {
  display: none;
}

/* Button */
.icon-bar {
  cursor: pointer;
  float: left;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  background-color: rgb(47, 46, 46);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px);
}

@media only screen and (min-device-width: 768px) {
  .desktop-hide {
    display: none;
  }

  .menu-right {
    float: right;
    color: #272a31;
  }

  .desktop-width {
    width: 85%;
  }

  .about-short {
    font-family: 'cocol', sans-serif;
    border: 1px solid white;
    padding: 15px;
    width: 40%;
  }

  .about-detail {
    padding: 30px;
    margin: 50px;
    text-align: center;
    line-height: 30px;
    background-color: white;
  }

  .hello {
    font-family: 'cocol', sans-serif;
    color: #86180e;
    margin-top: 100px;
  }

  .topnav a {
    float: left;
    display: block;
    color: #272a31;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 35px;
    text-align: left;
  }

  .topnav a:hover {
    color: #ec5242;
  }

  .services-cards {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    min-height: 80px;
    border: 2px solid #272a31;
  }

  .services-cards:hover {
    border: 2px solid white;
  }

  .services {
    padding: 45px;
    color: white;
    text-align: center;
  }

  .employee-name {
    color: #1b1b1b;
    margin-top: 24px;
    font-family: 'coco', sans-serif;
  }

  .see-whole-program {
    text-align: center;
    color: white;
    padding: 50px;
  }

  .see-whole a {
    text-decoration: underline;
    color: white;
  }

  .mission {
    text-align: center;
    padding: 50px 200px 50px 200px;
  }

  .about-activity {
    text-align: center;
    padding: 20px 100px 20px 100px;
  }

  .footer-about {
    display: flex;
    background-color: #1b1b1b;
    min-height: 150px;
    align-items: center;
    color: white;
  }
}

@media only screen and (max-device-width: 768px) {
  .mobile-hide {
    display: none;
  }

  .mission {
    text-align: center;
    margin-top: 20px;
  }

  .about-activity {
    text-align: center;
  }

  /* Mobile Menu */
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: left;
    display: block;
    margin-top: 12px;
    margin-left: -30px;
  }

  .topnav {
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(1, 1, 1, 0.1);
    box-shadow: none;
  }

  .topnav.responsive {
    position: relative;
    padding-bottom: 100vh;
    padding-top: 70px;
  }

  .topnav.responsive .icon {
    position: absolute;
    margin-top: 12px;
    margin-left: 8px;
    left: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .menu-seperator {
    border-bottom: 2px solid rgb(85, 83, 83);
  }

  .about-short {
    font-family: 'cocol', sans-serif;
    border: 1px solid white;
    padding: 15px;
  }

  .about-detail {
    padding: 30px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    background-color: white;
  }

  .hello {
    font-family: 'cocol', sans-serif;
    color: #86180e;
    margin-top: 30px;
    font-size: 20px;
  }

  .kabulKia {
    font-family: 'coco', sans-serif;
    font-size: 20px;
  }

  .topnav a {
    float: left;
    display: block;
    color: #272a31;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  .services-cards {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 15px;
    border: 2px solid #272a31;
    align-items: center;
  }

  .services-cards:hover {
    border: 2px solid white;
  }

  .services {
    padding: 15px;
    color: white;
    text-align: center;
  }

  .employee-name {
    color: #1b1b1b;
    font-family: 'coco', sans-serif;
  }

  .see-whole {
    text-align: center;
    color: white;
    margin: 40px;
    padding: 30px;
    background-color: #ec5242;
  }

  .see-whole a {
    text-decoration: none;
    color: white;
  }

  .footer-about {
    display: flex;
    background-color: #fff;
    min-height: 150px;
    align-items: center;
    color: #1b1b1b;
  }

  .footer-logo {
    width: 100%;
    padding-top: 20px;
  }
}

.contacts {
  color: #272a31;
}

.line {
  /* background-color: #ec5242; */
  border-color: #ec5242;
  width: 35px;
  margin-top: 5px;
}

.card-body-heading {
  color: #ec5242;
}

.employee-heading {
  padding: 40px;
  text-align: center;
  color: #272a31;
}

.employee-job {
  color: #ec5242;
  font-style: italic;
}

.line-2 {
  border-color: #464646;
  width: 30px;
  text-align: right;
  margin-left: 2px;
  margin-top: 5px;
}

.employee-detail {
  margin-top: -10px;
}

.portfolio {
  background-color: #272a31;
  min-height: 250px;
}

.portfolio-title {
  text-align: center;
  color: #a3a0a0;
  font-weight: bold;
  margin-top: 30px;
}

.partner-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  padding: 20px;
}

.footer {
  display: flex;
  background-color: #d3d3d3;
  min-height: 150px;
  align-items: center;
}

.activity-1 {
  display: flex;
  min-height: 225px;
  align-items: center;
}

.activity-2 {
  display: flex;
  min-height: 225px;
  align-items: center;
}

.pi {
  background-color: rgba(136, 15, 15, 0.7);
  color: white;
  text-align: center;
  padding: 60px;
}

.employees-container {
  background-color: #d3d3d3;
  min-height: 400px;
}

.kabulKia {
  font-family: 'coco', sans-serif;
  color: #ec5242;
}
